.primary-button {
  padding: $building-unit-x4 $building-unit-x10;
  background-color: $brand-color;
  font-size: $font-size-20;
  cursor: pointer;
  color: $white;
  border: solid 1px $border-color;
  &:hover {
    background-color: $black;
  }
}

.shop-now-button {
  background-color: $shop-now;
  opacity: 70%;
  margin-bottom: $building-unit-x10;
  &:hover {
    background-color: $shop-now;
    opacity: 100%;
  }
}