$brand-color: #333;
$background-light: #fafafa;
$background-dark: #333;
$label-colors: #aaa;
$border-color: silver;
$black: #000;
$shadow-color: #c0c0c0;
$text-color: #2c3e50;
$white: #fff;
$error-color: red;

